/* line 1, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
body {
  line-height: 1;
}

/* line 14, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 17, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
blockquote::after, blockquote::before, q::after, q::before {
  content: "";
  content: none;
}

/* line 24, /Users/Julien/Rails/christine/app/assets/stylesheets/components/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_flash.sass */
.flash {
  background: #4d925c;
  padding: 12px 0;
  z-index: -1000;
  position: absolute;
  cursor: default;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-align: center;
}
/* line 11, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_flash.sass */
.flash[data-visible] {
  z-index: 2;
  position: relative;
  transition: 0.2s;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_flash.sass */
.flash.error {
  background: #75485a;
}

@font-face {
  font-family: "Dosis";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/Dosis-52f5d13c9487de4634c463336c3cdd5faa35e28eec92bf544608ffc753449b57.ttf);
}
@font-face {
  font-family: "Dosis";
  font-weight: lighter;
  font-style: normal;
  src: url(/assets/Dosis-ExtraLight-a37890582b420dce75180d43e5aa6a4540017b29eddf40b9279e63f3f4e429e3.ttf);
}
/* line 2, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form input, form label, form .actions > * {
  box-sizing: border-box;
  display: block;
}
/* line 5, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form input, form textarea, form select, form .actions > * {
  background: transparent;
  height: 50px;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder, form .actions > *::-webkit-input-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-moz-input-placeholder, form textarea::-moz-input-placeholder, form select::-moz-input-placeholder, form .actions > *::-moz-input-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder, form select::-ms-input-placeholder, form .actions > *::-ms-input-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-o-input-placeholder, form textarea::-o-input-placeholder, form select::-o-input-placeholder, form .actions > *::-o-input-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-input-placeholder, form textarea::-input-placeholder, form select::-input-placeholder, form .actions > *::-input-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-webkit-placeholder, form textarea::-webkit-placeholder, form select::-webkit-placeholder, form .actions > *::-webkit-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-moz-placeholder, form textarea::-moz-placeholder, form select::-moz-placeholder, form .actions > *::-moz-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-ms-placeholder, form textarea::-ms-placeholder, form select::-ms-placeholder, form .actions > *::-ms-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-o-placeholder, form textarea::-o-placeholder, form select::-o-placeholder, form .actions > *::-o-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form input::-placeholder, form textarea::-placeholder, form select::-placeholder, form .actions > *::-placeholder {
  padding-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d9d9d9;
}
/* line 21, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #ebebeb;
}
/* line 25, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field label {
  padding: 20px 7px 0 15px;
  color: gray;
}
/* line 28, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field input, form .field textarea, form .field select {
  padding: 0;
  flex-grow: 10;
  font-size: 13px;
  color: #999999;
}
/* line 33, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field input, form .field textarea {
  padding-right: 15px;
}
/* line 35, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field textarea {
  resize: vertical;
  padding-top: 17px;
  padding-bottom: 17px;
}
/* line 39, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field select {
  background: url(/assets/icons/select-73eff263bb5b4108f936180536c26681c806c2345a36aecc9fcda072d7e8c484.svg) no-repeat calc(100% - 6px) center/16px 16px;
  height: 30px;
  padding: 0 22px 0 8px;
  margin: 10px 5px 10px 0;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  flex-grow: 0;
  line-height: 20px;
}
/* line 48, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field select:focus {
  border-color: #a8d0b0;
}
/* line 50, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field input[type="file"] {
  cursor: pointer;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="file"]::-webkit-file-upload-button {
  width: 0;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="file"]::-moz-file-upload-button {
  width: 0;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="file"]::-ms-file-upload-button {
  width: 0;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="file"]::-o-file-upload-button {
  width: 0;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="file"]::-file-upload-button {
  width: 0;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="number"]::-webkit-outer-spin-button, form .field input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="number"]::-moz-outer-spin-button, form .field input[type="number"]::-moz-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="number"]::-ms-outer-spin-button, form .field input[type="number"]::-ms-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="number"]::-o-outer-spin-button, form .field input[type="number"]::-o-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_main.sass */
form .field input[type="number"]::-outer-spin-button, form .field input[type="number"]::-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 64, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field:last-of-type {
  border-bottom-color: transparent;
}
/* line 66, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field .error {
  width: 100%;
  height: 10px;
  margin-top: -12px;
  flex-shrink: 0;
  display: block;
  color: #ab788c;
  font-size: 10px;
  text-align: right;
}
/* line 75, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field[data-focus] {
  background: #f7f7f7;
  border-bottom: 2px solid #a8d0b0;
}
/* line 78, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form label, form .actions > * {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 83, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .field-destroy {
  display: none;
}
/* line 85, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .actions {
  display: flex;
  flex-wrap: wrap;
}
/* line 88, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .actions > * {
  background: #ccc;
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 15px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  transition: 0.2s;
}
/* line 100, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .actions > *:hover {
  background: #b3b3b3;
}
/* line 102, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .actions > *:active, form .actions > *:focus {
  background: #65ad74;
}
/* line 104, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .actions > *.super {
  background: #86bf92;
}
/* line 106, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .actions > *.super:hover, form .actions > *.super:active, form .actions > *.super:focus {
  background: #65ad74;
}
/* line 109, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .row .col {
  width: 50%;
}
/* line 111, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .row .col:first-of-type {
  padding-right: 10px;
}
/* line 113, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_form.sass */
form .row .col:last-of-type {
  padding-left: 10px;
}

/* line 1, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_grid.sass */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 5, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_grid.sass */
.row .col {
  box-sizing: border-box;
}

/* line 1, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
body {
  padding-top: 50px;
}

/* line 4, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header {
  background: #65ad74;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
}
/* line 11, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header > .wrapper {
  display: flex;
  justify-content: space-between;
  position: static;
  align-items: center;
}
/* line 16, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header h2 a, header nav > a {
  height: 50px;
  line-height: 50px;
}
/* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header h2 a {
  display: flex;
  align-items: center;
  font-size: 0;
  color: transparent;
}
/* line 25, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header h2 a .logo {
  width: 34px;
  height: 34px;
}
/* line 2, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_logo.sass */
header h2 a .logo path {
  fill: rgba(255, 255, 255, 0.6);
}
/* line 4, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_logo.sass */
header h2 a .logo path[stroke-width] {
  fill: none;
  stroke: rgba(255, 255, 255, 0.6);
}
/* line 15, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_logo.sass */
header h2 a .logo path {
  transition: 0.2s;
}
/* line 2, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_logo.sass */
header h2 a:hover .logo path {
  fill: #fff;
}
/* line 4, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_logo.sass */
header h2 a:hover .logo path[stroke-width] {
  fill: none;
  stroke: #fff;
}
/* line 31, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a {
  margin-left: 15px;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
}
/* line 41, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 3px;
  top: -3px;
  margin-bottom: -3px;
  position: relative;
  display: block;
  transition: 0.15s;
}
/* line 51, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a svg {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  vertical-align: middle;
}
/* line 56, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a svg g {
  fill: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}
/* line 59, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a + div {
  background: whitesmoke;
  width: 100%;
  left: 0;
  cursor: default;
  display: none;
  z-index: 10;
  position: absolute;
}
/* line 68, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a + div form .wrapper {
  padding: 0;
}
@media screen and (max-width: 500px) {
  /* line 71, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav > a + div form .field {
    background: #ebebeb;
  }
  /* line 18, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_form.sass */
  header nav > a + div form .field {
    flex-direction: column;
  }
  /* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_form.sass */
  header nav > a + div form .field label, header nav > a + div form .field input, header nav > a + div form .field textarea, header nav > a + div form .field > div {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* line 74, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a[data-open] + div {
  display: block;
}
/* line 76, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a:hover, header nav > a.selected, header nav > a[data-open] {
  color: #fff;
}
/* line 78, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a:hover::before, header nav > a.selected::before, header nav > a[data-open]::before {
  top: 0;
}
/* line 80, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav > a:hover svg g, header nav > a.selected svg g, header nav > a[data-open] svg g {
  fill: #fff;
}
/* line 82, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header .toggle-nav {
  width: 35px;
  height: 25px;
  cursor: pointer;
  display: none;
  font-size: 0;
  color: transparent;
}
/* line 89, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header .toggle-nav::before, header .toggle-nav::after {
  content: "";
}
/* line 91, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header .toggle-nav::before, header .toggle-nav::after, header .toggle-nav span {
  background: rgba(255, 255, 255, 0.6);
  height: 1px;
  width: 100%;
  display: block;
}
/* line 96, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header .toggle-nav span {
  margin: 11px 0;
  transition: 0.2s;
}
/* line 101, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav[data-open] + .toggle-nav::before {
  animation: toggle-nav-in-before 0.3s 1 forwards;
}
/* line 103, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav[data-open] + .toggle-nav::after {
  animation: toggle-nav-in-after 0.3s 1 forwards;
}
/* line 107, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav[data-close] + .toggle-nav::before {
  animation: toggle-nav-out-before 0.3s 1 forwards;
}
/* line 109, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav[data-close] + .toggle-nav::after {
  animation: toggle-nav-out-after 0.3s 1 forwards;
}
/* line 111, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav[data-open] + .toggle-nav span {
  transform: scaleX(0);
}
/* line 113, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
header nav[data-close] + .toggle-nav span {
  transition-delay: 0.15s;
}
@media screen and (max-width: 880px) {
  /* line 116, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav {
    background: whitesmoke;
    width: 100%;
    height: 100%;
    border-top: 50px solid #ccc;
    top: 0;
    left: 100%;
    z-index: -1;
    position: fixed;
    transition: 0.3s;
  }
  /* line 126, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav a {
    margin: 0;
    padding: 0 20px;
    display: block;
    color: #ccc;
  }
  /* line 131, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav a::before {
    display: none;
  }
  /* line 133, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav a svg g {
    fill: #ccc;
  }
  /* line 135, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav a:hover, header nav a:active, header nav a[data-open], header nav a.selected {
    background: #ebebeb;
    color: #a6a6a6;
  }
  /* line 138, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav a:hover svg g, header nav a:active svg g, header nav a[data-open] svg g, header nav a.selected svg g {
    fill: #a6a6a6;
  }
  /* line 141, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav a:active, header nav a:active svg g {
    transition: 0;
  }
  /* line 143, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header nav[data-open] {
    left: 0;
  }
  /* line 145, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_header.sass */
  header .toggle-nav {
    display: block;
  }
}

@keyframes toggle-nav-in-before {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateX(11.4px) rotate(45deg) translateY(17.4px);
  }
}
@keyframes toggle-nav-in-after {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateX(12.4px) rotate(-45deg) translateY(-17.6px);
  }
}
@keyframes toggle-nav-out-before {
  0% {
    transform: translateX(11.4px) rotate(45deg) translateY(17.4px);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes toggle-nav-out-after {
  0% {
    transform: translateX(12.4px) rotate(-45deg) translateY(-17.6px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 1, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_wrapper.sass */
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
/* line 8, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_wrapper.sass */
.wrapper.medium, .wrapper {
  max-width: 1020px;
}
/* line 8, /Users/Julien/Rails/christine/app/assets/stylesheets/components/core/_wrapper.sass */
.wrapper.small {
  max-width: 370px;
}

/* line 7, /Users/Julien/Rails/christine/app/assets/stylesheets/partials/_main.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 10, /Users/Julien/Rails/christine/app/assets/stylesheets/partials/_main.sass */
main {
  margin: 30px 0;
}

/* line 13, /Users/Julien/Rails/christine/app/assets/stylesheets/partials/_main.sass */
h1 {
  margin-bottom: 30px;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* line 3, /Users/Julien/Rails/christine/app/assets/stylesheets/sessions.sass */
main {
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  /* line 18, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_form.sass */
  form .field {
    flex-direction: column;
  }
  /* line 20, /Users/Julien/Rails/christine/app/assets/stylesheets/mixins/_form.sass */
  form .field label, form .field input, form .field textarea, form .field > div {
    padding-right: 15px;
    padding-left: 15px;
  }
}
