#basket
	padding: 0 20px
	min-width: 280px
	max-height: 400px
	overflow: scroll
	li
		border-bottom: 1px solid lighten($grey, 10)
		&:last-of-type
			border-bottom: none
		a, &.empty
			padding: 15px 0
			font-size: 14px
			color: darken($grey, 40)
			display: flex
			align-items: center
			text-decoration: none
			.image
				width: 40px
				height: 40px
				margin-right: 10px
				flex-shrink: 0
				overflow: hidden
				img
					height: 100%
					margin-top: 50%
					margin-left: 50%
					display: block
					transform: translateX(-50%) translateY(-50%)
			.name
				flex-shrink: 0
			.quantity, .price
				font-size: 12px
			.quantity
				margin-left: 3px
				flex-basis: 100%
				&::before
					content: '×'
					top: -1px
					margin-right: 2px
					position: relative
					display: inline-block
			.price
				background: $brand
				padding: 4px 6px
				border-radius: 30px
				color: $white
			.remove
				margin-left: 5px
				flex-shrink: 0
				font-size: 0
				color: transparent
				&::after
					content: '×'
					background: $grey
					width: 20px
					height: 20px
					border-radius: 20px
					display: block
					font-size: 14px
					color: $white
					text-align: center
					line-height: 18px
					transition: 0.2s
				&:hover::after
					background: $red
				&:active::after
					background: darken($red, 10)
					transition: 0
		&.empty
			display: block
			font-size: 10px
			font-weight: bold
			text-align: center
			text-transform: uppercase
			letter-spacing: 1px
		&.actions
			padding: 10px 0
			display: flex
			justify-content: space-between
			.button
				height: 6px
				padding: 13px
				flex-shrink: 0
				flex-grow: 0
				font-size: 8px
				margin: 0 5px
				&:first-of-type
					margin-left: 0
				&:last-of-type
					margin-right: 0
				span
					height: 25px
					margin: -10px -4px -13px -10px
					padding: 13px
					font-size: 13px
					&::after
						content: ''
						height: 32px
						width: 20px
						margin: -16px -13px -18px 6px
